body {
  font: 14px monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid #ccc;
  background-color: #999;
  border-radius: 0.5em;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  display: block;
}

button:hover {
  background-color: #333;
  cursor: pointer;
}

.highlight {
  background-color: #333 !important;
}

.hidden {
  display: none !important;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
}

.chatDisplay {
  height: 500px;
  border: 1px solid #ccc;
  margin-top: 15px;
  border-radius: 2px;
  background-color: rgba(192, 128, 63, 0.05);
  overflow-y: auto;
}

.chatDisplay div {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  border: 1px solid #ccc;
}

.inputContainer {
  margin-top: 10px;
  display: flex;
}

#inputBox {
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgba(192, 128, 63, 0.05);
  resize: none;
}

#inputBox:focus {
  outline: none;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputContainer .controls button {
  margin-left: 3px;
}

#emojiIcon {
  margin-left: 3px;
}

#emojiIcon:hover {
  opacity: 0.60;
  cursor: pointer;
}

#emojiContainer {
  position: relative;
}

#emojiPicker {
  position: absolute;
  top: -370px;
  left: 35px;
}

.nameContainer {
  margin-top: 10px;
  display: flex;
}

.nameContainer label {
  align-self: center;
}

#nameInputBox {
  margin-left: 2px;
  padding: 2px;
}

.nameContainer button {
  margin-left: 3px;
  border-radius: 0;
  padding: 2px;
}

#nameLabel {
  margin-top: 5px;
  color: green;
}
