<div class="chatDisplay col-10"></div>
<div class="inputContainer">
  <textarea id="inputBox" class="col-6"></textarea>
  <div class="controls">
    <div id="emojiContainer">
      <i id="emojiIcon" class="far fa-grin-alt fa-2x"></i>
      <emoji-picker id="emojiPicker" class="hidden"></emoji-picker>
    </div>
    <button>➥</button>
  </div>
</div>
<div class="nameContainer">
  <label>Handle Name:</label>
  <input id="nameInputBox" type="text" required>
  <button>Send</button>
  <label>temp</label>
</div>
