extends layout

block content
  ul(id="roomsList")
    li: button #animals
    li: button #funny
    li: button #food
    li: button #random
  div(id="chatDisplay")
  form(id="chatInput")
    textarea(id="inputBox" rows="5" cols="60")
    button ➥
  form(id="nameInput")
    label Handle Name:
    input(id="nameInputBox" type="text")
    button Send
  label(id="nameLabel")
