extends layout

block content
  ul(id="roomsList")
    li: button(id="roomOne") #animals
    li: button(id="roomTwo") #funny
    li: button(id="roomThree") #food
    li: button(id="roomFour") #random
  div(id="chatDisplay")
  form(id="chatInput")
    textarea(id="inputBox")
    div(id="controls")
      div(id="emojiContainer")
        i(id="emojiIcon" class="far fa-grin-alt fa-2x")
        emoji-picker(id="emojiPicker" class="hidden")
      button(id="returnButton") ➥
  form(id="nameInput")
    label Handle Name:
    input(id="nameInputBox" type="text" required)
    button Send
  label(id="nameLabel")
