body {
  font: 14px monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid #ccc;
  background-color: #999;
  border-radius: 0.5em;
  padding: 1em;
  font-weight: bold;
  color: #fff;
  display: block;
}

button:hover {
  background-color: #333;
  cursor: pointer;
}

#roomsList {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 0.5em;
  list-style-type: none;
  flex-wrap: wrap;
}

#roomsList li {
  padding: 0.2em;
}

#chatDisplay {
  width: 1400px;
  height: 600px;
  border: 1px solid #ccc;
  margin: 0.5em;
  border-radius: 0.25em;
  background-color: rgba(192, 128, 63, 0.05);
  overflow-y: auto;
}

#chatDisplay div {
  overflow-wrap: anywhere;
  border: 1px solid #ccc;
}

#chatInput {
  margin: 0.5em;
  display: flex;
}

#inputBox {
  border: 2px solid #ccc;
  border-radius: 0.25em;
  background-color: rgba(192, 128, 63, 0.05);
  resize: none;
}

#inputBox:focus {
  outline: none;
}

#nameInput {
  margin: 0.5em;
  display: flex;
}

#nameInput label {
  margin: 0.2em 0.1em;
}

#nameInputBox {
  border: 2px solid #ccc;
  margin: 0 0.1em;
}

#nameInput button {
  padding: 0.2em;
  border-radius: 0;
}

#nameInput button:hover {
  background-color: #333;
  cursor: pointer;
}

#nameLabel {
  margin: 1em 0.5em;
  color: green;
}

.highlight {
  background-color: #333;
}
